<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body style="background-color:#ADFF2F;">
<h2>Spices Board</h2>
<p>Spices Board (Ministry of Commerce and Industry, Government of India)
    is the flagship organization for the development and worldwide promotion
    of Indian spices. The Board is an international link between the Indian
    exporters and the importers abroad. The Board has been spearheading
    activities for excellence of Indian spices, involving every segment of the
    industry. The Board has made quality and hygiene the corner stones for its
    development and promotional strategies.
</p>
</body>
</html>